.mainGrid {
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-gap: 1em;
    margin: 150px auto 0;
    background-color: white;
    max-width: 1000px;
    background-color:rgba(0, 0, 0, 0);
}

.headerGridItem {
    grid-column: 1 / 4;
}

.cardContainer {
    grid-column: 1 / 1;
    background-color: inherit;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.serverCard:not(:last-child) {
    margin-bottom: 20px;
}

.newsContainer {
    grid-column: 2 / 4;
    background-color: gray;
    min-height: 500px;
}

@media (max-width: 768px) {
    .mainGrid{
        margin: 0 auto 0;
    }
    .cardContainer{
        display: none
    }
    .newsContainer {
         grid-column: 1 / 4;
     }

}